.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {  margin-left: 1%;}
.logo img {
  width: 50px;
}

.datetime {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.user-profile {
  margin-right: 1%;
  position: relative;
  cursor: pointer;
}

.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-icon img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;
  border: 1px solid #816d6d;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300% ;
}


.dropdown a, .dropdown button {
  display: block;
  margin: 5px 0;
  color: #007bff;
  text-decoration: none;
}

.dropdown button {
  background: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.dropdown a:hover, .dropdown button:hover {
  text-decoration: underline;
  cursor: pointer;
}
