<header class="bg-white shadow-md z-30 relative">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4 flex justify-between items-center">
    <div class="flex items-center">
      <img 
        src="/images/logo.png" 
        alt="TD Classroom Logo" 
        class="h-8 w-8 object-contain text-indigo-600"
      />
      <h1 class="ml-3 text-xl font-bold text-gray-800">TD Classroom</h1>
    </div>
    <div class="flex items-center space-x-4">
      <button (click)="logout()" class="text-gray-700 hover:text-indigo-600 cursor-pointer">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
        </svg>
      </button>
    </div>
  </div>
</header>