data/mysql_data/mysql.sock
data/mysql_data/*

# Angular specific files
node_modules/
dist/
tmp/
out-tsc/
coverage/
.angular/

# Environment files
*.env
src/environments/environment.*.ts

# Editor/IDE specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/*.iml

# OS-specific files
.DS_Store
Thumbs.db

# Logs and debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Build artifacts
*.bak
*.log
*.tmp
*.swp
